# Ignore environment variables/secrets
.env
.env.*

# Ignore Git files
.git
.gitignore

# Ignore build artifacts, caches, and test files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.github/

# Ignore Docker configuration files we don't need inside the container
Dockerfile
docker-compose.yml
.dockerignore
